h1{
	color: blue;
	font-size: 50px;
}

*{
	margin: 0;
	padding: 0;
}


 #homebird {
	width: 100%;
	position: relative;
}

body {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

a {
	text-decoration: none;
}

.cardImgs {
	width: 400px;
	height: 400px;
	object-fit: cover;
	border-radius: 20px;
}


li{
	list-style-type: none;
	padding:10px;
}

#homecute {
	display: flex;
}

#birdDivs {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#homecute > h2, h1 {
	position: absolute;
}

#homecute > h2{
	top: 10%;
	left: 5%;
	font-size: 43px;
	background-color: black;
	color: blue;
	border-radius: 20px;
	padding: 1%;
}

p {
	color: darkgreen;
}

h2 {
	padding: 2%
}
